{% extends "layout.html" %}
{% block body %}
<h1>ADD TASKS</h1>
<form action="/add" method="post">
  <label for="class">Class:</label><br>
  <input type="text" id="class_id" name="class" value="" maxlength="20"><br>
  <label for="task_id">Task:</label><br>
  <input type="text" id="task_id" name="task" value="" maxlength="20"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" value="" maxlength="50"><br>
  <label for="due_date">Due Date:</label><br>
  <input type="text" id="due_date" name="due_date" value="" maxlength="20"><br>
  <input type="submit" value="add">
</form>
{% endblock %}
