<!-- makes the selected page's button on the nav bar pink -->
{% macro nav_link(url, text, class="") %}
<a class="{% if request.url_rule|string==url %}active {% endif %}{{ class }}" href='{{ url }}'>
    {{ text }}
</a>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fascinate Inline' rel='stylesheet'>
    <title>To Do List</title>
</head>

<body>
    <div class="topnav">
        {{ nav_link(url_for("home"), "Home") }}
        {{ nav_link(url_for("contents"), "Tasks to Do") }}
        {{ nav_link(url_for("edit"), "Edit Tasks") }}
        {{ nav_link(url_for("login"), "Login") }}
        {#{{ nav_link(url_for("register"), "register") }}#}
        <div class="topnav-right">
            {{ nav_link(url_for("logout"), "Logout") }}
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</body>

</html>