{% extends "layout.html" %}
{% block body %}
<h1>LOGIN</h1>
<form method="POST">
    <label for="user">Username:</label><br>
    <input class="input" type="text" name="username" placeholder="username" value="" maxlength="10"><br>
    <label for="password">Password:</label><br>
    <input class="input" type="password" name="password" placeholder="password" value="" maxlength="20"><br>
    <button type="submit" class="login">
        Login
    </button>
    <button type="submit" class="registerbtn" name="register" value="1">
        Register
    </button>
</form>
{% endblock %}
